<a href="https://colab.research.google.com/github/DeepakRawat2703/Python_Programming/blob/main/Class14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#norse="vikings"
#stringTo_tuple=tuple(norse)
#stringTo_tuple
#('v','i','k','i','n','g','s')

letters=("a","b","c")
numbers=(1,2,3)
nested_tuples=(letters,numbers)
nested_tuples
tuple("welcome")

#li=[1,"Deepak"]
#tup=(li,"Deepak")
#print(tup)

colours=("v","i","b","b","g","y","o","r")
print(colours)
print(colours[1:4])
print(colours[:5])
print(colours[3:])
print(colours[:])
print(colours[-5:-2])
print(colours[1:5:2])

years=(1993,1999,2000,2002)
print(len(years))
print(sum(years))

F=("cat","dog","parrot","crow")
pet_list=list(F)
print(pet_list)

german_cars=["porsche","audi","bmw"]
european_cars=("ferrari","volvo","renault",['porsche','audi','bmw'])
print(german_cars)
print(european_cars)

In [ ]:
a1= input("Enter the string:")

if (a1==a1[::-1]):
  print("It is a Pallindrome number")
else:
  print("It is not a pallindrome number")

Enter the string:1234
It is not a pallindrome number

In [ ]:
s1=input("enter the word: ")
vo_count=0;
co_count=0;

for i in s1:
  if i=='a' or i=='e' or i=='i' or i=='o' or i=='u' or i=='A' or i=='E' or i=='I' or i=='O' or i=='U':
    vo_count=vo_count+1
  else:
    co_count=co_count+1
print("No. of vowel is: ", vo_count)
print("No. of vowel is: ", co_count)

enter the word: Deepak
No. of vowel is:  3
No. of vowel is:  3

In [ ]:
#common strings
st1=input("Enter the string: ")
st2=input("Enter the string: ")
print("Common alphabets: ")
for i in range(len(st1)):
  if st1[i] in st2:
    print(st1[i])

Enter the string: Pauri
Enter the string: Garhwal
Common alphabets:
a
r

In [ ]:
#If strings are pallindrome or not
str1=input("Enter the word: ")
def pal(s):
  f=1
  for i in range(len(s)):
    if s[i]!=s[len(s)-1-i]:
      f=0
  return f;
a=pal(str1)
if a==1:
  print("It is a pallindrome")
else:
  print("It is not a pallindrome")

Enter the word: Deepak
It is not a pallindrome

In [ ]:
x=[1,2,3,7]
y=[4,5,6,8]
zipped=zip(x,y)
print(list(zipped))

ques=('name:','favourite colour:','favourite car brand:')
ans=('Deepak Rawat','Violet','Tata and Mahindra')
for q,a in zip(ques,ans):
  print(f'what is your {q}? It is {a}.')

[(1, 4), (2, 5), (3, 6), (7, 8)]
what is your name:? It is Deepak Rawat.
what is your favourite colour:? It is Violet.
what is your favourite car brand:? It is Tata and Mahindra.

In [7]:
basket={'apple','orange','apple','watermelon','mango','banana'}
print(basket)
'banana' in basket
a=set('abcdacfeghdrs')
b=set('afgshedrsjuq')
print(a)
print(b)
print(a-b)
print(a|b)
print(a&b)
print(a^b)
print(len(basket))

{'orange', 'mango', 'apple', 'watermelon', 'banana'}
{'d', 'c', 'h', 'r', 's', 'a', 'b', 'e', 'g', 'f'}
{'d', 'h', 'r', 'q', 's', 'a', 'e', 'g', 'f', 'j', 'u'}
{'b', 'c'}
{'d', 'c', 'h', 'r', 'q', 'a', 'g', 'u', 's', 'b', 'e', 'f', 'j'}
{'d', 'h', 'r', 's', 'a', 'e', 'g', 'f'}
{'c', 'q', 'b', 'j', 'u'}
5

In [9]:
fs= frozenset(["g","o","o","d"])
print(fs)

animals=set([fs,"cattle","horse"])
print(animals)

off_lang_world={"English":59,"french":29,"Spanish":21}
frozenset(off_lang_world)
frs=frozenset({"German"})
off_lang_world={"English":59,"french":29,"Spanish":21,frs:6}
print(off_lang_world)

frozenset({'o', 'd', 'g'})
{'cattle', frozenset({'o', 'd', 'g'}), 'horse'}
{'English': 59, 'french': 29, 'Spanish': 21, frozenset({'German'}): 6}

In [14]:
  file=open('Python1.txt','a')
  file.write("Hey there!!!")
  file.close()

In [16]:
file=open('Python1.txt','r')

for each in file:
  print(each)

Hey there!!!

In [17]:
f1=open("python2.txt","w")
L=["This is Pauri Garhwal\n","This is Uttarakhand\n"]

f1.write("Hello\n")
f1.writelines(L)
f1.close()

In [20]:
f1=open("python2.txt","r+")

print("Output of read function is ")
print(f1.read())
print()

f1.seek(0)

print("Output of readline function is ")
print(f1.readline())
print()
f1.seek(0)

print("Output of read(9) function is ")
print(f1.read(9))
print()
f1.seek(0)

print("Output of readlines function is ")
print(f1.readlines())
print()
f1.close()

Output of read function is
Hello
This is Pauri Garhwal
This is Uttarakhand


Output of readline function is
Hello


Output of read(9) function is
Hello
Thi

Output of readlines function is
['Hello\n', 'This is Pauri Garhwal\n', 'This is Uttarakhand\n']